export(edl_set_key)
export(edl_set_base_url)
export(edl_sources)
export(edl_search)
export(edl_metadata)
export(edl_series)
export(edl_fetch)
export(edl_last_updates)
export(edl_stats)
importFrom(httr, GET, add_headers, status_code, content, timeout)
importFrom(utils, URLencode, read.csv)
